/* GENERALI */

* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}

.main-container {
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}

/* FINESTRA1 */

.window1 {
    background-image: url("immagini/Cartina\ Antica.jpg");
    opacity: 1.2;
    background-position: center;
    background-size: 1280px;
    background-blend-mode: hard-light;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1;
}

.quadro1 {
    
    background-color: rgba(245, 245, 220, 0.24);
    
    width: 700px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-style: solid;
    border-radius: 30px;
    border-color: rgba(39, 39, 3, 0.459);
    
}

.messaggioPagIniziale {
    width: 700px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: rgb(46, 56, 11);
    font-size: 30px;
    border-radius: 15px;

}

.benvenuto {
    width: 350px;
    font-size: 60px;
    color: rgb(110, 36, 36);
    margin-left: 200px;
}

.testo1 {
    margin-left: 100px;
    align-content: center;
    margin-right: 60px;
}

.start-btn {
    width: 150px;
    height: 75px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-left: 0px;
}

.inizia {
    width: 130px;
    height: 50px;
    font-size: 25px;
    border-radius: 18px;
    background-color: rgb(189, 93, 93);
    color: white;
    outline: 0;
    border: 0;
    cursor: pointer; 
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.inizia:hover {
    background-color: rgb(110, 36, 36);
}

/* FINESTRA2 */

.window2 {
    background-image: url("immagini/europa\ mappamondo.jpg");
    opacity: 1.2;
    background-position: center;
    background-size: 1280px;
    background-blend-mode: hard-light;
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    
}

.quadro2 {
    background-color: rgba(128, 185, 223, 0.315);
    
    width: 700px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-style: solid;
    border-radius: 30px;
    border-color: rgba(79, 16, 90, 0.459);
}

.domande {
    display: flex;
    align-items: center;
    justify-items: center;
    text-align: center;
    width: 650px;
    height: 200px;
    margin-left: 0px;
    align-items: center;

}

#laDomanda {
    flex: 1;
    font-size: 45px;
    color: antiquewhite;
}

.answers-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 650px;
    height: 200px;
}

.answer {
    display: flex;
    align-items: center;
    justify-items: center;
    text-align: center;
    width: 150px;
    height: 60px;
    font-size: 20px;
    border-radius: 18px;
    background-color: rgb(189, 93, 93);
    color: white;
    outline: 0;
    border: 0;
    cursor: pointer; 
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    padding: none;
}

.answer p { 
    flex: 1;
}

.answer:hover {
    cursor: pointer;
    background-color: rgb(255, 86, 86);
}

.next {
    padding: 20px 55px;
    border-radius: 15px;
    background-color: rgb(250, 185, 99);
    color: rgb(255, 255, 255);
    font-size: 20px;
    outline: none
}

.next:hover {
    cursor: pointer;
}

.answerSelected {
    display: flex;
    align-items: center;
    justify-items: center;
    text-align: center;
    width: 150px;
    height: 60px;
    font-size: 20px;
    border-radius: 18px;
    background-color: rgb(255, 86, 86);
    color: white;
    outline: 0;
    border: 0;
    cursor: pointer; 
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    padding: none;
}

.answerSelected p { 
    flex: 1;
}

.answerSelected:hover {
    cursor: pointer;
}